<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>This is Title</title>

  <!-- Bootstrap -->
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1 style="text-align:center;">测试</h1>
    <form class="form-horizontal">
      <div class="form-group" th:each="knowledge, iterStat : ${knowledges}">
        <label class="col-md-3 control-label" th:for="${'english' + iterStat.index}" th:text="${iterStat.index + 1 + '、' + knowledge.chinese}"></label>
        <div class="col-sm-9">
          <input type="text" class="form-control english-data" th:attr="data-id=${knowledge.id}" th:id="${'english' + iterStat.index}">
        </div>
      </div>
    </form>
    <button class="btn btn-lg btn-primary btn-block" id="submit" style="text-align:center;margin-bottom:20px;">提交</button>
  </div>

  <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
  <script th:src="@{/layer/layer.js}"></script>
  <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{js/index.js}"></script>
</body>