<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="#{home.title}"></title>

  <!-- Bootstrap -->
  <link th:href="@{/static/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<nav th:insert="~{header :: #header}"></nav>

<div class="container">
  <p class="col-md-12">
    <textarea class="col-md-12" rows="5" placeholder="中文" id="src"></textarea>
  </p>
  <p class="col-md-12">
    <button class="btn btn-primary" id="translate">翻译</button>
  </p>
  <p class="col-md-12">
    <textarea class="col-md-12" rows="5" placeholder="英文" id="dst"></textarea>
  </p>
</div>

<script th:src="@{/static/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/common.js}"></script>
<script th:src="@{/static/js/translate/translate.js}"></script>
</body>