<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="#{home.title}"></title>

  <link th:href="@{/static/jquery-confirm/jquery-confirm.css}" rel="stylesheet">
  <!-- Bootstrap -->
  <link th:href="@{/static/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/static/bootstrap-select/css/bootstrap-select.css}" rel="stylesheet">
  <link th:href="@{/static/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet">

  <link th:href="@{/static/css/signin.css}" rel="stylesheet">
</head>
<body>

  <div class="container">

    <form id="loginForm" class="form-signin">
      <h2 class="form-signin-heading">请登录</h2>
      <label for="accountOrEmail" class="sr-only">Email address</label>
      <input type="text" id="accountOrEmail" class="form-control" placeholder="用户名或邮箱" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" class="form-control" placeholder="密码" required>
      <button onclick="loginSubmit()" class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      <button onclick="javascript:location.href='/le/user/registry'" class="btn btn-lg btn-block" type="button">注册</button>
    </form>

  </div> <!-- /container -->


  <script th:src="@{/static/js/jquery-3.2.1.min.js}"></script>
  <script th:src="@{/static/jquery-confirm/jquery-confirm.js}"></script>
  <script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/static/bootstrap-select/js/bootstrap-select.js}"></script>
  <script th:src="@{/static/bootstrap-table/bootstrap-table.js}"></script>
  <script th:src="@{/static/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
  <script th:src="@{/static/jquery-validation/jquery.validate.js}"></script>
  <script th:src="@{/static/jquery-validation/localization/messages_zh.js}"></script>
  <script th:src="@{/static/js/common.js}"></script>
  <script th:src="@{/static/js/user/login.js}"></script>
</body>