<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="#{home.title}"></title>

  <!-- Bootstrap -->
  <link th:href="@{/static/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <style>
    .red {
      color:red;
    }
  </style>
</head>
<body>
  <nav th:insert="~{header :: #header}"></nav>

  <div class="container">
    <h1 style="text-align:center;">测试结果</h1>
    <table class="table table-hover">
      <tr>
        <th>序号</th>
        <th>中文</th>
        <th>你的答案</th>
        <th>参考答案</th>
      </tr>
      <tr th:each="result, iterStat : ${examineResults}">
        <td th:text="${iterStat.index + 1}"></td>
        <td th:text="${result.correctChinese}"></td>
        <td th:class="${result.correct} ? black : red" th:text="${result.userAnswerEnglish}"></td>
        <td th:text="${result.correctEnglish}"></td>
      </tr>
    </table>
  </div>

  <script th:src="@{/static/js/jquery-3.2.1.min.js}"></script>
  <script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/static/js/common.js}"></script>
  <script th:src="@{/static/js/examination/index.js}"></script>
</body>